/* tailwind css stylesheet */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* // google font poppins link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* // utilities */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* // banner background image */
.banner {
  background-image: url("https://accessclinics.org/wp-content/uploads/2015/01/homeparallax.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

/* // about image */
.about-image {
  transition: transform 0.5s;
}
.about-image:hover {
  transform: scale(1.3);
}

/* // service image */
.service-image {
  width: 400px;
  height: 200px;
  transition: transform 0.5s;
}

.service-image:hover {
  transform: scale(1.2);
}

.service-detail-image {
  width: 600px;
  height: 370px;
}

/* // signup page background image */
.signup {
  background-image: url("https://www.athletadesk.com/wp-content/uploads/2016/08/join-background.jpg");
  background-repeat: no repeat;
  background-size: cover;
  height: 800px;
}

/* therapist image img */
.therapist-image {
  width: 300px;
  height: 300px;
  transition: transform 0.5s;
}
.therapist-image:hover {
  transform: scale(1.2);
}
